/* ----- Base ----- */
body {
  margin: 0;
  padding: 0;
  width: 70%;
  margin-left: 15%;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0 0 5px 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: auto;
}

/* ----- Layout ----- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  margin: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.description {
  grid-column: span 3;
}

/* ----- Module ----- */
.profile h1, .profile h3 {
  margin: 0 0 5px 0;
}

.categories h2 {
  margin: 0 0 10px 0;
}

.gallery, .video, .attachments {
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
